:root {
  /* 滚动条 */
  --scrollbar-width: 8px;
  --scrollbar-border-radius: 8px;
  --scrollbar-back-color: rgba(225, 224, 224, 0.8);

  /* 按钮 */
  /* 背景颜色 */
  --btn-back-color-default: #fff;
  --btn-back-color-primary: #409eff;
  --btn-back-color-success: #67c23a;
  --btn-back-color-info: #909399;
  --btn-back-color-warning: #e6a23a;
  --btn-back-color-danger: #f56c6c;
  --btn-back-color-default-lighter: #ecf5ff;
  --btn-back-color-default-lighter1: #92c1f0;
  --btn-back-color-primary-lighter: #72abf1;
  --btn-back-color-primary-lighter1: #e5effb;
  --btn-back-color-success-lighter: #a9e17a;
  --btn-back-color-success-lighter1: #e7f6da;
  --btn-back-color-info-lighter: #c9cdd5;
  --btn-back-color-info-lighter1: #f4f6f8;
  --btn-back-color-warning-lighter: #e8b467;
  --btn-back-color-warning-lighter1: #f8f1e8;
  --btn-back-color-danger-lighter: #f88989;
  --btn-back-color-danger-lighter1: #f6e7e7;
  /* 边框 */
  --btn-border-color-default: #dce1ea;
  --btn-border-radius-default: 5px;
  --btn-border-radius: 16px;
  /* 字体 */
  --btn-font-color-default: #7d7e82;
  --btn-font-size-default: 16px;
  --btn-font-size-small: 14px;
  --btn-font-size-large: 18px;
  --btn-font-color-white: #fff;
  /* 尺寸 */
  --btn-small-padding: 6px 12px;
  --btn-middle-padding: 8px 14px;
  --btn-big-padding: 10px 16px;

  /* 文本域 */
  --textarea-font-size: 14px;
  --textarea-font-color: rgb(20,20,20);
  --textarea-font-placeholder-color: rgb(114, 114, 114);
  --textarea-border-radius: 5px;
  --textarea-border-color: rgb(180,180,180);
  --textarea-border-focus-color: rgb(79, 116, 185);
  --textarea-tip-font-size: 12px;
  --textarea-tip-font-color: rgb(126, 126, 126);

  /* 轮播图 */
  --radio-border-color: rgba(207, 208, 141, 0.8);
  --prev--hover-color: rgba(255, 255, 255, 0.8);
  --prev--default-color: rgba(0, 0, 0, 0.2);
  --prev-font-size: 18px;
  --prev-wrap-width: 40px;
  --radio-wrap-height: 40px;
  --radio-circle-size: 15px;

  /* 代码文本 */
  --codes-back-color: rgb(226, 236, 234);
  --codes-line-height: 20px;
  --codes-font-size: 16px;

  /* 模态框 */
  --modal-default-width: 400px;
  --modal-default-height: 150px;
  --modal-back-color: #fff;
  --modal-mask-color: rgba(0,0,0,0.6);
  --modal-border-raidus: 5px;
  --modal-title-border-bottom-color: rgb(198, 194, 194);
  --modal-title-height: 40px;
  --modal-title-margin: 0 20px;
  --modal-title-padding: 0 0 0 10px;
  --modal-content-height: 80px;
  --modal-content-margin: 20px 0px;
  --modal-btn-margin-bottom: 15px;
}
